* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: rgb(116, 9, 84);
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #10090100;
  color: rgb(116, 9, 84);
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.formulario__input {
  border-radius: 2rem;
  padding: 2px 20px;
}
.esconder {
  display: none;
}

.botaoProximo{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  border: none;
  text-decoration: none;
}

.botaoProximo:hover{
  color: white;
}

.botaoVoltar{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}

.botaoVoltar:hover{
  color: white;
}

.botaoFinalizarCadastro{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}

.botaoLogar{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}

.login{
  text-align: center;
}

.campoLogar{
  border-radius: 2rem;
  max-width: 350px;
}

.selecionarBalada{
  text-decoration: none;
  color: black;
}

.semConta{
  border-radius: 2rem;
  padding: 2px 15px;
  margin: 5px;
  background-color:rgb(116, 9, 84);
  color: white;
  text-decoration: none;
}
.imagemPerfil{
  border-radius: 100rem;
  max-width: 150px;
  margin: auto;
}

.card-text-balada{
  font-size: 12px;
}

/* AVALIAÇÃO BALADA */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.avaliacao-balada {
  position: relative;
  display: flex;
  flex-direction: row;
}

.img-temperatura {
  max-height: 64px;
  width: auto;
}

.avaliacao-balada input {
  display: none;
}

.avaliacao-balada label {
  position: relative;
  width: 0;
  height: 128px;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  text-align: center;
  opacity: 0;
}

.avaliacao-balada:hover label {
  width: 128px;
  opacity: 0.2;
}

.avaliacao-balada input:hover + label,
.avaliacao-balada input:checked + label {
  filter: grayscale(0);
  opacity: 1;
  width: 128px;
}

.avaliacao-balada label p {
  font-size: 16px;
  color: rgb(136, 63, 63);
  padding-top: 10px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-50px) scale(0);
  transition: 0.5s;
}

.avaliacao-balada input:hover + label p,
.avaliacao-balada input:checked + label p {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* .text {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  width: 500px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  white-space: nowrap;
} */

/* FIM - AVALIAÇÃO BALADA */